body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background: rgb(202, 170, 144);
  color: white;
}
.primaryColor {
  color: #581845;
}
.primaryBgColor {
  color: #581845;
}
.font-14 {
  font-size: 14px;
}
.font-24 {
  font-size: 24px;
}
.font-54{
  font-size: 54px;
}
.flexRow{
  display:flex;
}
.justify-sb{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.text-center{
  text-align: center;
}
.container{
  width:900px;
  margin: 0 auto;
  position: relative;
}